# Loại trừ thư mục .vs của Visual Studio
.vs/

# Loại trừ thư mục node_modules (dependency của Node.js)
node_modules/

# Loại trừ các tệp log
*.log

# Loại trừ các tệp tạm của hệ điều hành
Thumbs.db
.DS_Store
